apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: custom-metadata
spec:
  params:
    - name: SNAPSHOT
      description: The JSON string of the Snapshot under test
  results:
    - name: component_name
      description: Name of the component
      type: string
    - name: build_type
      description: It specifies whether its release build / development build
      type: string
    - name: snapshot_name
      description: It specifies the snapshot name
      type: string
    - name: image_url
      description: Path of quay repo where image is pushed
      type: string
    - name: version
      description: Version of application
      type: string
    - name: build_version
      description: Build version of application
      type: string
  steps:
    - name: capturedetails
      image: quay.io/konflux-ci/konflux-test:stable
      workingDir: /workspace
      env:
        - name: SNAPSHOT
          value: $(params.SNAPSHOT)
        - name: component_name
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['appstudio.openshift.io/component']
        - name: snapshot_name
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['appstudio.openshift.io/snapshot']
        - name: build_type
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['custom.appstudio.openshift.io/build_type']
      script: |
        set -e
        dnf -y install jq

        # Extract the component container image from the SNAPSHOT JSON data
        echo $SNAPSHOT

        image_url=$(jq -r --arg component_name "$component_name" '.components[] | select(.name == $component_name) | .containerImage' <<< "$SNAPSHOT")

        version_tag=$(skopeo inspect --format '{{.RepoTags}}' "docker://$image_url" | grep -oE '[0-9]+\.[0-9]+\.[0-9]{8}(\.[0-9]+)?')
        version=$(echo $version_tag | cut -d '.' -f 1,2)
        build_version=$(echo $version_tag | cut -d '.' -f 3,4)

        # Log the extracted variable
        echo "  component_name: $component_name"
        echo "  snapshot_name: $snapshot_name"
        echo "  image_url: $image_url"
        echo "  build_type: $build_type"
        echo "  version: $version"
        echo "  build_version: $build_version"

        echo -n "${component_name}" | tee $(results.component_name.path)
        echo -n "${snapshot_name}" | tee $(results.snapshot_name.path)
        echo -n "${build_type}" | tee $(results.build_type.path)
        echo -n "${image_url}" | tee $(results.image_url.path)
        echo -n "${version}" | tee $(results.version.path)
        echo -n "${build_version}" | tee $(results.build_version.path)
        RESULT="SUCCESS"