apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: custom-metadata-release
spec:
  params:
    - name: release 
      type: string
    - name: releasePlan 
      type: string
    - name: snapshot 
      type: string
  steps:
    - name: capturedetails
      image: quay.io/konflux-ci/konflux-test:stable
      workingDir: /workspace
      script: |
        set -e
        dnf -y install jq

        # Extract the component container image from the SNAPSHOT JSON data
        echo "Release $(params.release)"
        echo "ReleasePlan $(params.releasePlan)"
        echo "Snapshot $(params.snapshot)"
        RESULT="SUCCESS"