apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: custom-metadata
spec:
  params:
    - name: SNAPSHOT
      description: The JSON string of the Snapshot under test
  results:
    - name: component_name
      description: Name of the component
      type: string
    - name: build_type
      description: It specifies whether its release build / development build
      type: string
    - name: snapshot_name
      description: It specifies the snapshot name
      type: string
    - name: image_url
      description: Path of quay repo where image is pushed
      type: string
    - name: version
      description: Version of application
      type: string
    - name: build_version
      description: Build version of application
      type: string
  steps:
    - name: capturedetails
      image: quay.io/konflux-ci/konflux-test:stable
      workingDir: /workspace
      env:
        - name: SNAPSHOT
          value: $(params.SNAPSHOT)
        - name: component_name
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['appstudio.openshift.io/snapshot']
        - name: build_type
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['custom.appstudio.openshift.io/build_type']
      script: |
        set -e
        dnf -y install jq

        # Extract the component container image from the SNAPSHOT JSON data
        echo $SNAPSHOT
        echo $component_name

        image_url=$(jq -r --arg component_name "$component_name" '.components[] | select(.name == $component_name) | .containerImage' <<< "$SNAPSHOT")

        version=$(skopeo inspect --format '{{.Labels.version}}' "$image_url")
        build_version=$(skopeo inspect --format '{{.Labels.release}}' "$image_url")

        # Log the extracted variable
        echo "  component_name: $component_name"
        echo "  snapshot_name: $snapshot_name"
        echo "  image_url: $image_url"
        echo "  build_type: $build_type"
        echo "  version: $version"
        echo "  build_version: $build_version"
        RESULT="SUCCESS"