apiVersion: tekton.dev/v1
kind: Task
metadata:
  name: custom-metadata
spec:
  params:
    - name: SNAPSHOT
      description: The JSON string of the Snapshot under test
  steps:
    - name: test-metadata
      image: quay.io/konflux-ci/konflux-test:stable
      workingDir: /workspace
      env:
        - name: SNAPSHOT
          value: $(params.SNAPSHOT)
        - name: COMPONENT_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['appstudio.openshift.io/component']
      script: |
        set -e
        dnf -y install jq
        snapshotComponents=$(jq -c '.components[]' <<< "${SNAPSHOT}")

        echo -e "Example test task for the Snapshot:\n ${SNAPSHOT}"
        # Run custom tests for the given Snapshot here
        while read componentEntry
        do
          # Variables
          componentName=$(echo "${componentEntry}" | jq -r '.name')
          componentUrl=$(echo "${componentEntry}" | jq -r '.source.git.url')
          componentUrlWithoutSuffix=$(echo $componentUrl | sed 's/\.git$//')
          componentSha=$(echo "${componentEntry}" | jq -r '.source.git.revision')

          echo "Print the infomation for component ${componentName} included in snapshot, more test can be added to inspect git source and containerImage in component:"
          echo "${componentName}"
          echo "${componentUrl}"
          echo "${componentUrlWithoutSuffix}"
          echo "${componentSha}"
        done < <(echo "$snapshotComponents")

        # Extract the component container image from the SNAPSHOT JSON data
        COMPONENT_CONTAINER_IMAGE=$(jq -r --arg component_name "${COMPONENT_NAME}" '.components[] | select(.name == $component_name) | .containerImage' <<< "${SNAPSHOT}")

        # Log the extracted variable
        echo "  COMPONENT_CONTAINER_IMAGE: ${COMPONENT_CONTAINER_IMAGE}"
        RESULT="SUCCESS"